* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
//富文本颜色框
.tox-tinymce-aux{
  z-index: 10000!important;
  // position: relative!important;
}
.clearfix:after{
  content:"";
  display:block;
  visibility:hidden;
  clear:both;
}
